In [13]:
# add dữ liệu csv
import pandas as pd
df = pd.read_csv("products.csv")
df.tail(2)

                        tên   giá bán    ngày tạo  category
3  Tai nghe Sony WH-1000XM5   7000000  2023-05-22  Phụ kiện
4       Máy ảnh Canon EOS R  42000000  2023-06-18   Máy ảnh

# Lọc bằng chỉ số (iloc)

> `iloc` lọc dữ liệu dựa trên vị trí chỉ số trong DataFrame

In [14]:
df.iloc[:3] # lay 3 dong dau tien

                  tên   giá bán    ngày tạo    category
0     Laptop Dell XPS  35000000  2023-01-15      Laptop
1           iPhone 14  25000000  2023-03-10  Điện thoại
2  Samsung Galaxy S23  22000000  2023-04-05  Điện thoại

In [15]:
# Lấy kết hợp dòng và cột
df.iloc[2::2, 2:] # lay dong 2 -> 5 (buoc nhay 2), cot 2 - cuoi

     ngày tạo    category
2  2023-04-05  Điện thoại
4  2023-06-18     Máy ảnh

# Lọc bằng nhãn (loc)

> `loc` lọc dữ liệu dựa trên nhãn của chỉ số trong DataFrame

In [16]:
df.loc[3: , ["giá bán", 'category']] # lấy từ dòng 3 -> cuối, cột giá bán + category

    giá bán  category
3   7000000  Phụ kiện
4  42000000   Máy ảnh

In [ ]:
# lọc có điều kiện
df.loc[df["giá bán"] > 25000000, "tên": "ngày tạo"] 
# lấy dòng nào có giá bán > 25tr, cột 0 -> ngày tạo

                   tên   giá bán    ngày tạo
0      Laptop Dell XPS  35000000  2023-01-15
4  Máy ảnh Canon EOS R  42000000  2023-06-18